@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(/img/main-bg2.jpg);
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.main-div {
  width: 1200px;
  height: 2000px;
  background: #131313;
  margin-top: 200px;
  font-family: 'Roboto', sans-serif;
}

header {
  width: 1200px;
  height: 70px;
  background-color: #1f1f1f;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
}

.div-header {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.header-menu {
  height: 40px;
  display: flex;
  padding: 0;
  margin: 0;
  color: white;
}

.header-menu > li > a{
  display: block;
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  transition: all .3s;
}

.header-menu > li > a:hover {
  color: #c740d3;
}

.div-header ul li div {
  width: 510px;
  padding: 10px;
  position: absolute;
  background-color: #1f1f1f;
  opacity: 0;
  transition: all .3s;
}

.div-header ul li:hover div {
  opacity: 1;
  box-shadow: 0 10px 20px rgb(0 0 0 / 30%), inset 0 0 80px rgb(0 0 0 / 10%);
}

.hidden-ul {
  display: flex;
  padding: 0;
}

.hidden-ul li{
  margin: 0;
  width: 33%;
  padding-left: 10px;
  padding-right: 10px;
  transition: all .3s;
}

.hidden-ul > li > a{
  color: #c8c8c8;
  font-weight: 400;
}

.hidden-ul > li:hover {
  background-color: #c740d3;
}

.header-menu > li{
  margin-left: 50px;
  text-align: -webkit-match-parent;
}

.logo {
  width: 300px;
  height: 40px;
  margin-right: 40px;
  background-image: url(/img/bg.png);
  text-align: center;
}

.header > .div-header > button{
  width: 150px;
  margin-left: 63px;
  background-color: #c740d3;
  border: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 12px;
  border-radius: 2px;
  box-shadow: 0 10px 30px rgb(191 61 203 / 34%);
  transition: all .3s;
}

.div-header button:hover {
  background-color: #5d0960;
  box-shadow: none;
}

.header-fixed {
  position: fixed;
  top: 0;
}

.wrapper {
  padding-left: 30px;
  padding-right: 30px;
}

.div-quicksearch {
  margin-top: 25px;
  display: flex;
  background-color: #1f1f1f;
}

#quicksearch {
  height: 40px;
}

.div-quicksearch input{
  width: 1090px;
  height: 40px;
  padding-left: 20px;
  padding-right: 50px;
  border: none;
  border-radius: 2px;
  background-color: #1f1f1f;
}

.search-button {
  width: 45px;
  height: 40px;
  padding: 0;
  border: 0;
  background-color: #1f1f1f;
  color: white;
}

.text-div {
  margin-top: 25px;
}

.text-div h1{
  font-size: 26px;
  text-align: center;
  font-weight: 500;
  color: #c8c8c8;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}

.text-div p{
  line-height: 1.7;
  word-wrap: break-word;
  color: #c8c8c8;
}

.section-div p{
  font-size: 18px;
  color: #c740d3;
}

#films-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 1000px;
  background-color: transparent;
}

.film-div {
  width: 16.66%;
  height: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  background: transparent;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.film-div img{
  width: 100%;
  height: auto;
  margin-bottom: 5px;
}

.film-div button{
  height: 20px;
  background-color: #1f1f1f;
  border: none;
  color: #c8c8c8;
  transition: all .3s;
}

.film-div button:hover {
  background-color: #c740d3;
  color: white;
}

.film-div p{
  margin-top: 5px;
  margin-bottom: 0px;
  color: #c8c8c8;
  width: 100%;
}

#p-year {
  color: #999;
}