* {
  box-sizing: border-box;
}

#div1 {
  display: flex;
  width: 100%;
  height: 500px;
  background-color: #1f1f1f;;
}

.film-div {
  width: fit-content;
  height: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  background: transparent;
  display: flex;
  flex-direction: column;
}

.film-div img{
  width: 125px;
  height: 180px;
  margin-bottom: 5px;
}

.film-div button{
  background-color: #1f1f1f;
  border: none;
  color: #c8c8c8;
}

.film-div p{
  margin-top: 5px;
  margin-bottom: 0px;
  color: #c8c8c8;
}

#p-year {
  color: #999;
}